
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HosPYtal</title>
  </head>
  <body>
{% extends 'base.html' %} {% block content %}
<h1>About the HosPYtal</h1>
<hr />
<p>The HoPYtal is a mock hospital meant for doctors and nurses to be able to look up information on current patients, check in new patients, and log when they have checked in on the patients as well as any medication they are giving them. Finally doctors/nurses would be able to check out a patient when they have been discharged from the hospital.</p>
<hr />
<p>This project was made with Python, Django, PostgreSQL and styled with materialize</p>
<br />
<p>Check out my <a href="https://www.linkedin.com/in/robert-ford-14aa47245/" target="_blank">LinkedIn</a> for more!</p>
{% endblock %}
<footer>All Rights Reserved, &copy; 2022 HosPYtal</footer>

  </body>
</html>
