{% extends 'base.html' %}{% block content %}
<h1>Patient Details</h1>

<div class="row">
    <div class="col s6">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ patient.name }}</span>
        <p>Address: {{ patient.address}} </p>
        <p>Email: {{patient.email}}</p>
        {% if patient.age > 17 %}
        <p>Age: {{patient.age}} </p>
        {% else %}
        <p>Age: Minor</p>
        {% endif %}
        <p>Reason for Visit: {{patient.reason}}</p>
        <p>Check-in Date: {{patient.checkin}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'patients_update' patient.id %}">Edit Infotmation</a>
        <a href="{% url 'patients_delete' patient.id %}">Check-Out</a>
    </div>
    </div>
</div>
<div class="col s6">
<form action = "{% url 'add_checkins' patient.id %}" method="post">
    {% csrf_token %}{{ checkins_form.as_p }}
    <input type="submit" class="btn" value="Submit Pateint Check-in" />
</form>
<div>
    <table class="centered-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
            {% for checkins in patient.checkins_set.all %}
            <tr>
                <td>{{checkins.date}}</td>
                <td>{{checkins.time}}</td>
                <td>{{checkins.notes}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
<hr />
<div class="row">

    <div class="col s6">
        <h3>{{ patient.name }}'s Medication</h3>
        {% if patient.medication.count %} {% for medication in patient.medication.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                {{ medication.name }}
                </span>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>No Medication Given</h5>
        {% endif %}
    </div>

    <div class="col s6">
        <h3>Available Medication</h3>
        {% if medication.count %}
        {% for medication in medication.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ medication.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_medication' patient.id medication.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Give Medication</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{patient.name}} Already Has No Medication Available</h5>
        {% endif %}
    </div>
</div>

<script>
var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
//   document.addEventListener('DOMContentLoaded', function() {
//     var elems = document.querySelectorAll('.timepicker');
//     var instances = M.Timepicker.init(elems);
    
//   });
</script>

{% endblock %}