{% extends 'base.html' %}{% block content %}
<h1>Current Patients</h1>

{% for patient in patients%}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{patient.name}}</span>
        <p>Address: {{patient.address}}</p>
        <p>Email: {{patient.email}}</p>
        {% if patient.age > 17 %}
        <p>Age : {{patient.age}}</p>
        {% else %}
        <p>Age: Minor</p>
        {% endif %}
        <p>Reason for Visit: {{patient.reason}}</p>
        <p>Check-in Date: {{patient.checkin}}</p>
    </div>
</div>
{% endfor %}{% endblock %}